@media (max-width: 1399px) {
    .sidepanel {
        left: -75px;
    }
}



@media (max-width: 1259px) {
    .container {
        width: 850px;
    }

    .aboutMe {
        &__grid {
            grid-template-columns: 300px 500px;
            grid-template-rows: repeat(2, minmax(300px, auto));
            column-gap: 50px;

            #img {
                width: 300px;
                height: 590px;
            }
        }

        .skills {
            grid-template-columns: 200px 200px;
            grid-template-rows: 115px 115px;
            column-gap: 40px;
        }

        #s1 {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }

        #s2 {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }
    }

    .skill {
        &__abilities {
            grid-template-columns: repeat(3, minmax(270px, auto));
            grid-template-rows: repeat(2, minmax(270px, auto));
            column-gap: 15px;
        }
    }

    .progress {
        &__wrapper {
            column-gap: 145px;
        }
    }

    .portfolio {
        &__wrapper {
            grid-template: repeat(3, 280px) / repeat(3, 280px);

            .vertical {
                grid-column: 3/4;
            }

            .horizontal {
                grid-column: 1/4;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 280px;
                }
            }
        }
    }

    .price {
        min-height: 260px;

        &__wrapper {
            row-gap: 50px;
        }

        &__container {
            width: 850px;
        }

        &__wrapper {
            grid-template: repeat(3, 45px) / repeat(3, 245px);
            row-gap: 50px;
        }

        .right {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }

        .lower {
            grid-row: 3 / 4;
            grid-column: 3 / 4;
        }
    }

    .contacts {
        &__wrapper {
            grid-template: repeat(1, 1fr) / 350px 450px;
            column-gap: 50px;
        }

        &__photo {
            img {
                width: 350px;
                height: 537px;
            }
        }

        &__form {
            margin-top: 35px;
            grid-template: 40px 150px 40px / repeat(2, 210px);
            row-gap: 20px;
        }
    }
}

@media (max-width: 1023px) {
    .container {
        width: 725px;
    }

    .menu {
        &__block {
            width: 260px;
            padding-top: 120px;
            padding-left: 30px;
        }

        &__link {
            font-size: 18px;
        }

        &__close {
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    .sidepanel {
        display: none;
    }

    .aboutMe {
        padding: 100px 0 0 0;

        &__grid {
            grid-template-columns: 500px;
            grid-template-rows: repeat(2, minmax(300px, auto));
            column-gap: 50px;
            row-gap: 10px;
            grid-template-areas:
                "me"
                "skills";

            #img {
                display: none;
                width: 300px;
                height: 590px;
            }
        }
    }

    .skill {
        &__abilities {
            grid-template-columns: repeat(2, 270px);
            grid-template-rows: repeat(3, minmax(270px, auto));
            justify-content: center;
        }
    }

    .progress {
        margin: 100px 0 100px 0;

        &__wrapper {
            grid-template-columns: 350px;
            grid-template-rows: repeat(4, 60px);
            row-gap: 50px;
        }
    }

    .portfolio {
        &__wrapper {
            grid-template: repeat(3, 280px) / repeat(2, 280px);
            gap: 15px;
            justify-items: center;
            justify-content: center;

            .vertical {
                grid-row: 2/3;
                grid-column: 2/3;

                img {
                    object-fit: cover;
                    width: 280px;
                    height: 280px;
                }
            }

            .horizontal {
                grid-column: 2/3;

                img {
                    width: 280px;
                }
            }
        }
    }

    .price {
        min-height: 260px;

        &__container {
            width: 725px;
        }

        &__wrapper {
            grid-template: repeat(3, 45px) / repeat(3, 200px);
        }

        .center {
            grid-column: 2 / 3;
        }

        .lower {
            grid-column: 2 / 3;
        }
    }

    .contacts {
        &__wrapper {
            grid-template: repeat(1, 1fr) / 250px 450px;
            column-gap: 25px;
        }

        &__photo {
            img {
                width: 250px;
                height: 535px;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 380px;
    }

    .promo {
        padding-top: 55vh;

        &__title {
            font-size: 26px;
            width: 350px;
            line-height: 26px;
        }

        &__hamburger {
            right: 20px;
        }
    }

    .aboutMe {
        padding: 40px 0 0 0;

        &__grid {
            grid-template-columns: 380px;
            grid-template-rows: repeat(3, minmax(300px, auto));
            grid-template-areas:
                "img"
                "me"
                "skills";
            row-gap: 40px;

            #img {
                display: block;
                width: 380px;
                height: 420px;
            }

            .skills {
                grid-template-columns: 260px;
                grid-template-rows: 115px 115px;
                grid-template-areas:
                    "s1"
                    "s2";
                column-gap: 40px;
            }

            #s1 {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
            }

            #s2 {
                grid-row: 2 / 3;
                grid-column: 1 / 2;
            }

        }

        &__title {
            font-size: 16px;
        }

        &__subtitle {
            font-size: 24px;
        }
    }

    .skill {

        &__abilities {
            grid-template-columns: 270px;
            grid-template-rows: repeat(6, minmax(270px, auto));
        }

        .title__section-subtitle {
            font-size: 24px;
            line-height: 24px;
        }
    }

    .portfolio {
        &__wrapper {
            grid-template: repeat(6, 280px) / repeat(1, 280px);

            .vertical {
                grid-row: 5/6;
                grid-column: 1/2;
            }

            .horizontal {
                grid-column: 1/2;
            }
        }
    }

    .price {
        &__container {
            width: 400px;
        }

        &__wrapper {
            grid-template: repeat(3, 45px) / 236px;
            row-gap: 50px;
            justify-content: center;
        }

        .center {
            grid-column: 1 / 2;
        }

        .right {
            width: 236px;
            grid-column: 1 / 2
        }

        .lower {
            width: 236px;
            grid-column: 1 / 2
        }

    }

    .contacts {
        min-width: 0px;

        .container {
            width: 375px;
        }

        &__wrapper {
            display: block;
        }

        &__title {
            font-size: 16px;
        }

        .title {
            font-size: 24px;
        }

        &__photo {
            img {
                display: none;
            }
        }

        &__form {
            margin-top: 35px;
            grid-template: 40px 40px 150px 40px / 375px;
            row-gap: 35px;

            .name {
                grid-row: 1 / 2;
            }

            .email {
                grid-row: 2 / 3;
            }

            .textarea {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }

            .button {
                grid-row: 4 / 5;
                justify-self: center;
            }
        }
    }
}

@media (max-width: 424px) {
    .container {
        width: 330px;
    }

    .promo {
        &__btns {
            width: 220px;
        }
    }

    .aboutMe {

        &__grid {
            grid-template-columns: 330px;

            #img {
                width: 330px;
                height: 400px;
            }
        }
    }

    .price {
        &__container {
            width: 330px;
        }
    }

    .contacts {

        .container {
            width: 330px;
        }

        &__form {
            margin-top: 35px;
            grid-template: 40px 40px 150px 40px / 330px;
            row-gap: 35px;
        }
    }
}

@media (max-width: 374px) {
    .container {
        width: 275px;
    }

    .promo {
        &__title {
            width: 290px;
        }
    }

    .aboutMe {

        &__grid {
            grid-template-columns: 275px;

            #img {
                width: 275px;
                height: 375px;
            }
        }
    }

    .progress {
        &__wrapper {
            grid-template-columns: 275px;
        }

        &__line--1 {
            width: 275px;
        }

    }

    .price {
        &__container {
            width: 275px;
        }
    }

    .contacts {

        .container {
            width: 275px;
        }

        &__form {
            margin-top: 35px;
            grid-template: 40px 40px 150px 40px / 275px;
            row-gap: 35px;
        }
    }
}