.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/face_bc.jpg') no-repeat 50%/cover;
    // center center/cover no-repeat
    padding-top: 400px;


    &__title {
        color: #000;
        font-size: 44px;
        font-weight: 500;
        line-height: 60px;
        width: 535px;
        margin-top: 10px;

        span {
            font-weight: 700;
        }
    }

    &__subtitle {
        position: relative;
        z-index: 1;
        color: #000;
        font-weight: 700;
        &::before {
            content: '';
            display: block;
            width: 36px;
            height: 36px;
            border-radius: 100%;
            background-color: $main-color;
            position: absolute;
            z-index: -1;
            top: -6px;
            left: 0.3%;
            transform: translate(-50%);
        }
    }

    &__btns {
        margin-top: 25px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--link {
            color: #000;
            font-size: 14px;
            font-weight: 700;

            &:hover {
                color: #000;
                text-decoration: none;
            }
        }
    }

    &__hamburger {
        display: flex;
        position: absolute;
        top: 20px;
        right: 30px;
        height: 21px;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        cursor: pointer;

        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: #151812;

            &:nth-child(2) {
                width: 36px;
            }
        }
    }
}