.sidepanel {
    position: fixed;
    z-index: 2;
    top: 520px;
    left: -45px;
    transform: rotate(-90deg);

    &__cover {
        width: 250px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__subtitle {
        font-weight: 700;
    }

    &__line {
        width: 70px;
        height: 2px;
        background-color: #000;
    }

    &__link {
        transform: rotate(90deg);
    }
}